<tr class="parent-row">
  <td class="parent-cell text-left">
    <%= link_to source_path(source) do %>
      <%=source.name%>
    <% end %>
  </td>
  <td class="parent-cell cell text-center"><%=source.author.name%></td>
  <td class="parent-cell cell text-center"><%=source.kind.titleize%></td>
</tr>
