<div id="main-content">
  <div class="main-header-container">
    <%= link_to sources_path do %>
      <h1 class="main-header">Sources</h1>
    <% end %>
  </div>
</div>

<div id="index-container">
  <table class="index">
    <tr style="background-color: white">
      <th>Name</th>
      <th>Author</th>
      <th>Kind</th>
      <th>Pages</th>
    </tr>
    <%= render :partial => 'source', :collection => @sources, :as => :source %>
  </table>
</div>
</div>
