<!--
<script>
$(document).ready(function () {
  var pr = $(".parent-row");
  var i;

  for (i = 0; i < pr.length; ++i) {
    pr[i].onclick = function(){
      this.classList.toggle("active");
      $( this ).next( "tr" ).toggle();
    }
  }
});
</script>
-->

<div class="top">
  <div class="main-header-container">
    <%= link_to sources_path, :class => 'top-link' do %>
      <%= image_tag("source_icon.png", :class => "top-icon source-icon") %>
      <h1 class="top-header">Sources</h1>
    <% end %>
  </div>
</div>

<!--

  <br>


  <div id="index-container">
    <table class="index">
      <tr style="background-color: white">
        <th>Name</th>
        <th>Author</th>
        <th>Kind</th>
        <th>Pages</th>
      </tr>
    </table>
  </div>

-->

</div>
