<div class="artwork-fade">
  <%= image_tag("index/welcome_artwork1.png", :class => "artwork") %>
</div>

<div class="top">
  <div class="main-header-container">
    <%= link_to welcome_index_path, :class => 'top-link' do %>
      <%= image_tag("icons/welcome_icon.png", :class => "top-icon welcome-icon") %>
      <h1 class="top-header">Welcome</h1>
    <% end %>
  </div>
</div>
