<%
class_src = character_class.source.abbr
class_src = character_class.source_id if class_src.nil?
%>

<tr class="parent-row">
  <td class="parent-cell">
    <%= link_to character_class_path(character_class) do %>
      <%=character_class.print_name%>
    <% end %>
  </td>
  <td class="parent-cell"><%=character_class.description%></td>
  <td class="parent-cell"><%=class_src%></td>
</tr>
