<%
level = level_and_spells.first
spells = level_and_spells.last
%>
<h4 class="text-chunk-title">
  <%= Spell.print_level(level) %>
</h4>
<div class="text-chunk">
  <% spells.each do |spell| %>
    <%= link_to spell_path(spell), :target => '_blank' do %>
      <% if spell.source_name == "PHB" %>
        <%= spell.print_name %>
      <% else %>
          <%= "#{spell.print_name} (#{spell.source_name})" %>
      <% end %>
    <% end %>
    <br>
  <% end %>
</div>
