<div class="class-spells-container">
  <div class="four-columns">
    <%=
    render :partial => 'spell_level',
           :collection => spells.to_a,
           :as => :level_and_spells
    %>
  </div>
</div>
