<div class="main-header-container">
    <%= link_to character_classes_path do %>
      <h1 class="main-header">Classes</h1>
    <% end %>
  </div>
  <div id="index-container">
    <table class="index">
      <tr style="background-color: white">
        <th>Name</th>
        <th>Description</th>
        <th>Source</th>
      </tr>
      <%= render :partial => 'character_class_row',
                 :collection => @classes,
                 :as => :character_class
      %>
    </table>
  </div>
