<div class="artwork-fade head-artwork">
  <%= image_tag("index/class_artwork1.png", :class => "artwork") %>
</div>

<div class="top">
  <div class="main-header-container">
    <%= link_to character_classes_path, :class => 'top-link' do %>
      <%= image_tag("icons/class_icon.png", :class => "top-icon class-icon") %>
      <h1 class="top-header">Classes</h1>
    <% end %>
  </div>
</div>

<div id="index-container">
    <table class="index table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Source</th>
      </tr>
      <%= render :partial => :character_class,
                 :collection => @classes,
                 :as => :character_class
      %>
    </table>
</div>
