<script>

  function clearSearch() {
    $("#search-input").val("");
  }

</script>
<div class="spell-top">
  <div class="main-header-container">
    <%= link_to spells_path, :class => 'top-link' do %>
      <%= image_tag("spell_icon.png", :class => "top-icon spell-fire") %>
      <h1 class="top-header">Spells</h1>
    <% end %>
  </div>
</div>

  <div id="index-container">
    <table class="index">
      <tr style="background-color: white">
        <th>Name</th>
        <th>Level</th>
        <th>School</th>
        <th>Concentration</th>
        <th>Ritual</th>
        <th>Casting Time</th>
        <th>Duration</th>
      </tr>
      <%= render :partial => 'spell', :collection => @spells, :as => :spell %>
    </table>
</div>
