<div class="top">
  <div class="main-header-container">
    <%= link_to items_path, :class => 'top-link' do %>
      <%= image_tag("item_icon.png", :class => "top-icon item-icon") %>
      <h1 class="top-header">Items</h1>
    <% end %>
  </div>
</div>
