div.aspect-header-container {
  background-color: black;
}

h3.aspect-header {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS";
  font-size: 30px;
  color: white;
  margin: 0 auto;
}

div.description-container {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-family: "Trebuchet MS";
  font-size: 20px;
  background-color: #262626;
  color: white;
  font-size: 14px;
}

div.description {
  padding-left:50px;
  font-size: 16px;
  font-family: "Georgia";
  font-style: italic;
}

div.class-spells-container a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

div.aspect-container {
  padding: 50px;
  background-color: #262626;
}

h4.text-chunk-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ff8c1a;
  text-align: justify;
  font-weight: normal;
  font-family: "Georgia";
  font-size: 20px;
  color: white;
}

h5 {
  margin-top: 5px;
  margin-bottom: 0;
  text-align: justify;
  font-family: "Trebuchet MS";
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  color: white;
}

div.text-chunk {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  font-family: "Trebuchet MS";
  font-size: 14px;
  color: white;
}

div.two-cols {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
