#soulmate {
  background-color: #262626;
  display: none;
  font: 14px "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: normal;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
  position: absolute;
  z-index: 1000;

  .soulmate-type-container {
    width: 480px;
  }

  .soulmate-type-suggestions {
    float: right;
    list-style: none;
    padding: 5px 0;
    width: 420px;
    letter-spacing: 0.5px;
  }

  .soulmate-suggestion {
    color: lightgrey;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 0 5px 10px;
    text-decoration: none;
  }

  .soulmate-suggestion.focus {
    color: white;
    background-color: black;
    padding-left: 14px;
    position: relative;
    z-index: 1;
  }

  .soulmate-type {
    color: lightgrey;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-right: 500px;
    padding: 10px 10px 0 10px;
    text-align: right;
    text-transform: capitalize;
    vertical-align: top;
  }

  .soulmate-type:before, .soulmate-type:after {
    content: "";
    display: table;
  }

  .soulmate-type:after {
    clear: both;
  }
}
